ul {
    list-style: none;
}

.box-rect{
    width: 100px;
    height: 100px;
}

.box-list {
    display: flex;
    flex-direction: column;
    margin-left: 40%;
}

.box-item:first-child {
    fill: red;
    position: relative;
    top: 80px;
    right: 48px;
}

.box-item:nth-child(2) {
    fill: blue;
    position: relative;
    z-index: 1;
}

.box-item:last-child {
    fill: green;
    position: relative;
    bottom: 80px;
    left: 40px;
}